body{
    background: url('https://i.pinimg.com/564x/b4/d4/0b/b4d40b944b71141700126f38bb7dba17.jpg');;
    font-family: 'Nunito', sans-serif;
}
.name {
    font-size: 3.125em;
}
i.fik{
    color: purple;
}
#container {
    background-color: pink;
}
a.[href] {
    font-size: 30px;
}
a:hover{
    color: white;
    background-color: rgb(202, 25, 84);
}
p::selection {
    background: pink;
    color: black;
}
div {
    margin: 20px;
    padding: 20px;

}
.hed{
    position: relative;
    left: 240px;
}
.bio{
    text-align: center;
}

@media screen and(max-width : 900px) {
    .name {
        font-size: 1.875em;
    }
}